{% load static %}
<section class="cid-sMFEdIi3SX mbr-fullscreen mbr-parallax-background" id="header2-1">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 style="text-shadow: 1px 5px 10px #000;" class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">SOLUÇÕES INTELIGENTES<br>PARA SEU CAR</h1>

                <p style="text-shadow: 1px 5px 10px #000;" class="mbr-text pb-3 mbr-fonts-style display-5">Nossa base de dados completa e uma equipe multidisplinar aumentam as chances de seu Cadastro Ambiental Rural (CAR) de ser aprovado</strong>.
                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="index.html#features3-2">MAIS</a></div>
            </div>
        </div>
    </div>
</section>